<div id="particles-js"></div>
<div id="header">
  <div id="name">I'm Jake Ollila.</div>
  <div id="divider"></div>
  <div id="occupation">A Web Developer.</div>
</div>
<div id="my-navbar">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li><a>Home</a></li>
        <li><a>Projects</a></li>
        <li><a>About</a></li>
        <li><a>Contact</a></li>
      </ul>
    </div>
  </div>
</div>
