<!--<canvas #myCanvas id="myCanvas"></canvas>-->
<div #headerImage id="header-image" (window:resize)="onResize($event)">
  <div class="overlay"></div>
</div>
<div id="header">
  <div id="header-content">
    <div id="name" class="bold">I'm Jake Ollila.</div>
    <div id="occupation">A Web Developer.</div>
  </div>
</div>
<div id="my-navbar">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li><a [ngx-scroll-to]="'#about'">About</a></li>
        <li><a [ngx-scroll-to]="'#services'">Services</a></li>
        <li class="logo"><a class="bold logo">JO</a></li>
        <li><a [ngx-scroll-to]="'#projects'">Projects</a></li>
        <li><a [ngx-scroll-to]="'#contact'">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
