html,
body {
  height: 100%;
  width: 100%;
}
app-root {
  height: 100%;
  width: 100%;
}
#particles-js {
  background: #84ceeb;
  position: relative;
}
#header {
  text-align: center;
  width: 350px;
  height: 140px;
  position: absolute;
  top: calc(50% - 125px);
  left: calc(50% - 175px);
}
#header #name {
  color: white;
  font-size: 48px;
  animation: fadein 5s ease-in 0s;
  padding-bottom: 10px;
}
#header #divider {
  background: #5680e9;
  height: 1px;
  display: block;
  margin: auto;
  animation: expand 500ms ease-out 5s;
  animation-fill-mode: forwards;
  visibility: hidden;
  border-radius: 3px;
}
#header #occupation {
  color: white;
  font-size: 32px;
  margin-top: 10px;
  animation: fadein 3500ms ease-in 2000ms;
  animation-fill-mode: forwards;
  visibility: hidden;
}
#my-navbar {
  width: 100%;
  margin: -100px 0 0 0;
  padding: 25px 0;
}
#my-navbar .navbar-default {
  background: transparent;
  border: transparent;
  margin: 0;
}
#my-navbar .navbar-default .navbar-nav {
  float: none;
  text-align: center;
}
#my-navbar .navbar-default .navbar-nav li {
  margin: 0 50px;
  float: none;
  display: inline-block;
  animation: fadein 2000ms ease-in 5000ms;
  animation-fill-mode: forwards;
  visibility: hidden;
}
#my-navbar .navbar-default .navbar-nav li a {
  font-size: 28px;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}
#my-navbar .navbar-default .navbar-nav li a:hover {
  background: #8860d0;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 80%;
    visibility: visible;
  }
}
@media (max-width: 576px) {
  
}
@media (max-width: 768px) {
  #my-navbar {
    margin: 0;
    padding: 0;
  }
  #my-navbar .navbar-header {
    background: #6ec5e7;
    border-bottom: 2px solid #8860d0;
  }
  #my-navbar .navbar-header .navbar-toggle {
    padding: 10px;
    margin: 10px;
    border-color: transparent;
  }
  #my-navbar .navbar-header .navbar-toggle:hover {
    background: transparent;
  }
  #my-navbar .navbar-header .navbar-toggle .icon-bar {
    background: white;
  }
  #my-navbar .navbar-collapse {
    border-color: transparent;
    background: #6ec5e7;
  }
  #my-navbar .navbar-collapse .navbar-nav li {
    display: block;
    animation: none;
    visibility: visible;
    margin: 0;
    padding: 5px 5px;
    text-align: left;
  }
  #my-navbar .navbar-collapse .navbar-nav li a:hover {
    background: transparent;
  }
}
@media (max-width: 992px) {
  
}
