@import "../app.component";

:host {
  display: block;
  background: #3B3B3D;
  padding: 50px 0 40px 0;

  #footer-container {
    padding: 0 200px;

    #footer-item-container {
      text-align: center;

      .footer-item {
        display: inline-block;
        margin: 0 25px;
        background: black;
        height: 70px;
        width: 70px;
        border-radius: 35px;

        a {
          color: white;
          position: relative;
          top: 22px;
          left: 0;

          &:hover {
            color: @secondary-color;
          }

          mat-icon {
            transform: scale(1.5);
          }
        }
      }
      #footnote {
        display: block;
        padding: 35px 0 0 0;
        text-align: center;
        color: white;
        text-transform: uppercase;
        span {
          color: @secondary-color;
        }
      }
    }
  }
}

@media (max-width: 1375px) {
  :host {
    #footer-container {
      padding: 0 25px;
    }
  }
}

@media (max-width: 1200px) {
  :host {
    #footer-container {
      padding: 0 50px;
    }
  }
}

@media (max-width: 992px) {
  :host {
    #footer-container {
      padding: 0 25px;

    }
  }
}


