body, html {
  margin: 0;
}

body {
  width: 100%;
  padding: 0 15px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
        "header"
        "intro"
        "projects"
        "work";
  grid-row-gap: 150px;
}

@font-face {
  font-family: 'Kollektif';
  src: url('assets/Kollektif.ttf') format("truetype");
}

@font-face {
  font-family: 'Glacial Indifference';
  src: url('assets/GlacialIndifference-Regular.otf') format("opentype");
}

* {
  font-family: 'Glacial Indifference', sans-serif;
  font-size: 24px;
}

section {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: 'Kollektif', sans-serif;
  font-size: 34px;
  font-weight: bold;
  margin: 15px 0;
}

h2 {
  font-family: 'Kollektif', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 25px 0 15px;
}

p {
  margin: 15px 0;
}

button {
  padding: 15px 40px;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

ul {
  padding-inline-start: 25px;
}

ul li {
  list-style-image: url(assets/triangle.svg);
  padding-inline-start: 10px;
}

/* Header */

#header {
  grid-area: header;
  text-align: center;
  padding: 50px 0 0;
}

#header #logo {
  width: 50px;
  height: auto;
}

/* Intro */

#intro {
  grid-area: intro;
}

#intro #intro-container {
  display: grid;
  grid-template-columns: 300px 1fr;
  align-items: center;
}

#intro #intro-container #me {
  width: 300px;
  margin: auto;
  height: auto;
  border-radius: 100%;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

#intro #intro-container #text {
  padding: 0 100px;
  border-right: 7px solid black;
  border-top: 7px solid white;
  border-bottom: 7px solid white;
}

#intro #intro-container #text #name-logo-small {
  display: none;
  width: 200px;
  margin: auto;
}

/* Projects */

#projects {
  grid-area: projects;
  display: grid;
  grid-row-gap: 30px;
}

#projects #projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

#projects #projects-container .project img {
  width: 100%;
  height: auto;
  display: block;
}

#projects #projects-container .project p {
  margin: 0;
}

#projects #projects-container .project a {
  background: black;
  color: white;
  padding: 10px 40px;
  text-decoration: none;
  display: inline-block;
}

/* Work Experience */

#work-experience {
  grid-area: work;
  display: grid;
  grid-row-gap: 30px;
}

#work-experience #work-experience-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

#work-experience #work-experience-container .work-experience-item img {
  height: 100px;
  width: auto;
  display: block;
}

/* Footer */

#footer {
  border-top: 1px solid #e3e3e3;
  padding: 30px 0 50px;
}

@media screen and (max-width: 1000px) {
  body {
    grid-row-gap: 50px;
  }
  #header {
    padding-top: 25px;
  }
  #intro #intro-container #text {
    padding: 0 25px;
  }
}

@media screen and (max-width: 850px) {
  #intro #intro-container {
    grid-template-columns: 1fr;
  }
  #intro #intro-container #text {
    padding-right: 25px;
    padding-left: 0;
  }
}

@media screen and (max-width: 700px) {
  #intro #intro-container #text #name-logo-small {
    display: block;
  }
  #intro #intro-container #text #name-logo-large {
    display: none;
  }
  #intro #intro-container #text {
    padding: 0;
    border: 0;
    text-align: center;
  }
  #projects #projects-container {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
  #work-experience #work-experience-container {
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
  }
}
