html,
body {
  height: 100%;
  width: 100%;
}
app-root {
  height: 100%;
  width: 100%;
}
:host {
  display: block;
  padding: 100px 0;
}
:host #about-container {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1050px;
}
:host #about-container #about-title {
  display: block;
  font-size: 38px;
  text-align: center;
  margin: 50px 0 0 0;
  font-weight: bold;
  color: black;
}
:host #about-container .underline {
  margin-bottom: 25px;
}
:host #about-container #about-description {
  font-size: 22px;
}
@media (max-width: 1600px) {
  :host #about-container {
    padding: 0 100px;
  }
}
@media (max-width: 1375px) {
  
}
@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  :host #about-container #about-title {
    margin: 25px 0 0 0;
  }
}
@media (max-width: 768px) {
  
}
