@import "../app.component";

:host {
  display: block;
  padding: 100px 0;

  #about-container {
    padding: 0 200px;
    #about-title {
      display: block;
      font-size: 38px;
      text-align: center;
      margin: 50px 0 0 0;
      font-weight: bold;
      color: black;
    }
    #about-item-container.row {
      margin-left: 0;
      margin-right: 0;

      .about-item {
        padding-left: 0;
        padding-right: 0;

        .item-formatting {
          margin: 0 25px;
          border-radius: 10px;
          background: @primary-color;
          box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          overflow: auto;

          .item-border {
            margin: 10px;
            padding: 40px 0;
            border: 1px @secondary-color solid;

            .about-item-icon {
              display: block;

              .icon-cont {
                display: block;
                margin: auto;
                height: 150px;
                width: 150px;
                border-radius: 75px;
                background: @third-color;

                img {
                  height: 100px;
                  width: 100px;
                  margin: 25px 0 0 25px;
                }
              }
            }
            .about-item-title {
              text-align: center;
              font-size: 28px;
              margin: 25px 0;
              font-weight: bold;
            }
            .about-item-description {
              font-size: 20px;
              text-align: center;
              max-width: 400px;
              display: block;
              margin: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  :host {
    #about-container {
      padding: 0 100px;
    }
  }
}

@media (max-width: 1375px) {
  :host {
    #about-container {
      padding: 0 25px;
      #about-item-container.row {
        .about-item {
          .item-formatting {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  :host {
    #about-container {
      padding: 0 50px;
    }
  }
}

@media (max-width: 992px) {
  :host {
    #about-container {
      padding: 0 200px;
      #about-title {
        margin: 25px 0 0 0;
      }
      #about-item-container.row {
        .about-item {
          margin: 0 0 60px 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    #about-container {
      padding: 0 25px;
    }
  }
}


