<div id="about-container">
  <div id="about-title" class="bold">About</div>
  <div class="underline"></div>
  <div id="about-intro">What I offer</div>
  <div id="about-item-container" class="row">
    <div class="about-item col-lg-4 col-md-4 col-sm-12" *ngFor="let aboutItem of aboutItems">
      <div class="item-formatting">
        <div class="item-border">
          <div class="about-item-icon">
            <div class="icon-cont">
              <img src="{{aboutItem.img}}" />
            </div>
          </div>
          <div class="about-item-title">{{aboutItem.title}}</div>
          <div class="about-item-description">{{aboutItem.description}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
