<div id="about-container">
  <div id="about-title" class="bold">About</div>
  <div class="underline"></div>
  <div id="about-content">
    <img src="../../assets/support.jpg" />
    I am currently working as a Software Engineer at <a href="https://ekotrope.com/" target="_blank">Ekotrope</a> in Boston, MA.
    I graduated from Wentworth Institute of Technology in 2018 and have a wide range of experience. My passion for creating
    responsive websites and clean user experiences has lead me to work on side projects. Currently, I am accepting freelance
    work, so don't hesitate to get in touch.
  </div>
</div>
