html,
body {
  height: 100%;
  width: 100%;
}
app-root {
  height: 100%;
  width: 100%;
}
:host {
  display: block;
  padding: 100px 0;
  background: #f8f8f8;
}
:host #project-container {
  padding: 0 200px;
}
:host #project-container #project-title {
  display: block;
  font-size: 38px;
  text-align: center;
  margin: 50px 0 0 0;
  font-weight: bold;
  color: black;
}
:host #project-container #project-item-container {
  padding: 50px 0 0 0;
}
:host #project-container #project-item-container .project-item {
  padding: 0;
  position: relative;
}
:host #project-container #project-item-container .project-item:hover img {
  filter: brightness(0) invert(1);
  transition: 1s;
}
:host #project-container #project-item-container .project-item:hover .hidden-content {
  opacity: 1;
  transition: 1s;
}
:host #project-container #project-item-container .project-item img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: 0.5s;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
:host #project-container #project-item-container .project-item .hidden-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  opacity: 0;
  transition: 0.5s;
}
:host #project-container #project-item-container .project-item .hidden-content .project-name {
  width: 100%;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  padding: 5px 0 0 0;
}
:host #project-container #project-item-container .project-item .hidden-content .project-description {
  width: 100%;
  text-align: center;
  padding: 15px 0;
  font-size: 18px;
}
:host #project-container #project-item-container .project-item .hidden-content .project-see-more {
  width: 100%;
  text-align: center;
}
:host #project-container #project-item-container .project-item .hidden-content .project-see-more a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 22px;
  color: black;
  border: 2px outset buttonface;
  border-image: initial;
}
:host #project-container #project-item-container .project-item .hidden-content .project-see-more a:hover {
  color: white;
  background: #cf3d3e;
}
@media (max-width: 1600px) {
  :host #project-container {
    padding: 0 100px;
  }
  :host #project-container #project-item-container .project-item .hidden-content {
    width: 75%;
  }
}
@media (max-width: 1375px) {
  :host #project-container {
    padding: 0 100px;
  }
  :host #project-container #project-item-container .project-item .hidden-content {
    width: 85%;
  }
  :host #project-container #project-item-container .project-item .hidden-content .project-description {
    padding: 5px 0 10px 0;
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  :host #project-container {
    padding: 0 50px;
  }
  :host #project-container #project-title {
    margin: 50px 0 0 0;
  }
  :host #project-container #project-item-container {
    padding: 0 0 40px 0;
  }
}
@media (max-width: 992px) {
  :host #project-container {
    padding: 0 25px;
  }
  :host #project-container #project-title {
    margin: 25px 0 0 0;
  }
}
@media (max-width: 480px) {
  :host #project-container #project-item-container .project-item .hidden-content {
    width: 90%;
  }
  :host #project-container #project-item-container .project-item .hidden-content .project-name {
    padding: 0;
    font-size: 26px;
  }
  :host #project-container #project-item-container .project-item .hidden-content .project-description {
    padding: 5px 0;
    font-size: 14px;
  }
}
