html,
body {
  height: 100%;
  width: 100%;
}
app-root {
  height: 100%;
  width: 100%;
}
:host {
  display: block;
  padding: 100px 0;
}
:host #project-container {
  padding: 0 15px;
}
:host #project-container #project-title {
  display: block;
  font-size: 38px;
  text-align: center;
  margin: 25px 0 0 0;
  font-weight: bold;
  color: black;
}
:host #project-container #project-item-container .project-item {
  padding: 0;
  position: relative;
}
:host #project-container #project-item-container .project-item .project-image-cont {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  background: #e8e8e8;
  border-radius: 10px;
}
:host #project-container #project-item-container .project-item .project-image-cont:hover .project-see-more {
  opacity: 1;
  transition: 1s;
}
:host #project-container #project-item-container .project-item .project-image-cont:hover .overlay {
  opacity: .65;
  transition: 1s;
}
:host #project-container #project-item-container .project-item .project-image-cont img {
  width: 250px;
  display: block;
  margin: auto;
  padding: 50px 0;
  border-radius: 10px;
  position: relative;
}
:host #project-container #project-item-container .project-item .project-image-cont .project-see-more {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1050px;
  text-align: center;
  position: absolute;
  top: 145px;
  opacity: 0;
  transition: 0.5s;
  z-index: 2;
}
:host #project-container #project-item-container .project-item .project-image-cont .project-see-more a {
  text-decoration: none;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 22px;
  color: white;
  background: transparent;
  border: 2px outset #cf3d3e;
  border-image: initial;
}
:host #project-container #project-item-container .project-item .project-image-cont .project-see-more a:hover {
  color: white;
  background: #cf3d3e;
}
:host #project-container #project-item-container .project-item .project-image-cont .overlay {
  position: absolute;
  height: 350px;
  width: 100%;
  max-width: 1050px;
  background: black;
  top: 0;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
}
:host #project-container #project-item-container .project-item .project-info {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 1050px;
}
:host #project-container #project-item-container .project-item .project-info .project-tags {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  padding: 15px 0;
  text-transform: uppercase;
  color: #cf3d3e;
}
:host #project-container #project-item-container .project-item .project-info .project-name {
  width: 100%;
  font-size: 28px;
  font-weight: bold;
  padding: 15px 0 0 0;
}
:host #project-container #project-item-container .project-item .project-info .project-description {
  width: 100%;
  font-size: 18px;
  line-height: 30px;
}
@media (max-width: 1600px) {
  :host #project-container #project-item-container .project-item .hidden-content {
    width: 75%;
  }
}
@media (max-width: 1375px) {
  :host #project-container #project-item-container .project-item .hidden-content {
    width: 85%;
  }
  :host #project-container #project-item-container .project-item .hidden-content .project-description {
    padding: 5px 0 10px 0;
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  :host #project-container #project-item-container {
    padding: 0 0 40px 0;
  }
}
@media (max-width: 768px) {
  :host {
    padding: 50px 0;
  }
}
@media (max-width: 480px) {
  :host #project-container #project-item-container .project-item .hidden-content {
    width: 90%;
  }
  :host #project-container #project-item-container .project-item .hidden-content .project-name {
    padding: 0;
    font-size: 26px;
  }
  :host #project-container #project-item-container .project-item .hidden-content .project-description {
    padding: 5px 0;
    font-size: 14px;
  }
}
