@import "../app.component";

:host {
  display: block;
  padding: 100px 0;
  background: #F8F8F8;

  #project-container {
    padding: 0 200px;
    #project-title {
      display: block;
      font-size: 38px;
      text-align: center;
      margin: 50px 0 0 0;
      font-weight: bold;
      color: black;
    }
    #project-item-container {
      padding: 50px 0 0 0;

      .project-item {
        padding: 0;
        position: relative;

        &:hover {
          img {
            filter: brightness(0) invert(1);
            transition: 1s;
          }
          .hidden-content {
            opacity: 1;
            transition: 1s;
          }
        }
        img {
          width: 100%;
          height: auto;
          border-radius: 10px;
          transition: 0.5s;
          box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        }
        .hidden-content {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 60%;
          opacity: 0;
          transition: 0.5s;

          .project-name {
            width: 100%;
            text-align: center;
            font-size: 32px;
            font-weight: bold;
            padding: 5px 0 0 0;
          }
          .project-description {
            width: 100%;
            text-align: center;
            padding: 15px 0;
            font-size: 18px;
          }
          .project-see-more {
            width: 100%;
            text-align: center;

            a {
              text-decoration: none;
              display: inline-block;
              padding: 10px 20px;
              border-radius: 5px;
              font-size: 22px;
              color: black;
              border: 2px outset buttonface;
              border-image: initial;

              &:hover {
                color: white;
                background: @secondary-color;
              }
            }
          }
        }

      }
    }
  }
}

@media (max-width: 1600px) {
  :host {
    #project-container {
      padding: 0 100px;

      #project-item-container {
        .project-item {

          .hidden-content {
            width: 75%;
          }
        }
      }
    }
  }
}

@media (max-width: 1375px) {
  :host {
    #project-container {
      padding: 0 100px;

      #project-item-container {
        .project-item {

          img {
          }
          .hidden-content {
            width: 85%;
            .project-description {
              padding: 5px 0 10px 0;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  :host {
    #project-container {
      padding: 0 50px;
      #project-title {
        margin: 50px 0 0 0;
      }
      #project-item-container {
        padding: 0 0 40px 0;

      }
    }
  }
}

@media (max-width: 992px) {
  :host {
    #project-container {
      padding: 0 25px;
      #project-title {
        margin: 25px 0 0 0;
      }
    }
  }
}

@media (max-width: 480px) {
  :host {
    #project-container {
      #project-item-container {
        .project-item {
          img {
          }
          .hidden-content {
            width: 90%;
            .project-name {
              padding: 0;
              font-size: 26px;
            }
            .project-description {
              padding: 5px 0;
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}


