<div id="project-container">
  <div id="project-title" class="bold">Projects</div>
  <div class="underline"></div>
  <div id="project-item-container" *ngFor="let project of projects">
    <div class="project-item">
      <div class="project-image-cont">
        <img src="{{project.image}}" />
        <div class="project-see-more">
          <a href="{{project.link}}">
            View Project
          </a>
        </div>
        <div class="overlay"></div>
      </div>
      <div class="project-info">
        <div class="project-name">{{project.name}}</div>
        <div class="project-tags">{{project.tags}}</div>
        <div class="project-description">{{project.description}}</div>
      </div>
    </div>
  </div>
</div>
