@import "../app.component";

:host {
  display: block;
  padding: 100px 0;

  #contact-container {
    padding: 0 200px;

    #contact-title {
      display: block;
      text-align: center;
      font-size: 38px;
      margin: 25px 0 0 0;
      font-weight: bold;
    }
    #contact-intro {
      display: block;
      text-align: center;
      font-size: 20px;
    }
    #contact-form {
      float: none;
      margin: 25px auto;

      .error-message {
        margin-bottom: 4px;
        color: @secondary-color;
      }

      #contact-name {
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        background: #F5F5F5;
        border: none;
      }
      #contact-email {
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        background: #F5F5F5;
        border: none;
      }
      #contact-message {
        display: block;
        width: 100%;
        padding: 5px;
        margin-bottom: 5px;
        font-size: 20px;
        background: #F5F5F5;
        border: none;
      }
      #submit-container {
        text-align: center;
        #contact-submit {
          display: inline-block;
          font-size: 22px;
          padding: 10px 25px;
          border-radius: 5px;
          background: transparent;
          margin-top: 20px;
          border: 2px solid black;
          color: black;

          &:hover {
            background: @secondary-color;
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 1375px) {
  :host {
    #contact-container {
      padding: 0 25px;
    }
  }
}

@media (max-width: 1200px) {
  :host {
    #contact-container {
      padding: 0 50px;
    }
  }
}

@media (max-width: 992px) {
  :host {
    #contact-container {
      padding: 0 25px;

    }
  }
}

@media (max-width: 768px) {
  :host {
    padding: 50px 0;
  }
}


