<div class="">
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand">Jake Ollila's Website</span>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav nav">
        <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
