@import "../app.component";

:host {
  display: block;
  padding: 100px 0;

  #services-container {
    padding: 0 200px;
    #services-title {
      display: block;
      font-size: 38px;
      text-align: center;
      margin: 50px 0 0 0;
      font-weight: bold;
      color: black;
    }
    .underline {
      margin-bottom: 25px;
    }
    #services-intro {
      display: block;
      font-size: 30px;
      padding: 15px 0 30px 0;
      font-style: italic;
      text-align: center;
    }
    #services-item-container {
      display: flex;
      justify-content: center;

      .service-item {
        height: 475px;
        width: 330px;
        display: inline-block;
        margin: 0 15px;
        position: relative;

        &:hover {
          .item-formatting {
            .item-info {
              top: 0;
            }
          }
        }

        .item-formatting {
          background-size: cover;
          background-position: center center;
          padding: 10px;
          border-radius: 10px;
          box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
          overflow: hidden;
          height: 100%;
          color: white;
          width: 100%;

          .item-info {
            position: relative;
            left: 0;
            right: 0;
            top: 100%;
            transition: 1s;

            .service-item-title {
              font-size: 28px;
              margin: 25px 0;
              font-weight: bold;
              position: relative;
              z-index: 2;
            }
            .service-item-description {
              font-size: 18px;
              margin: auto;
              position: relative;
              z-index: 2;
            }
          }
        }
        .overlay {
          position: absolute;
          background: black;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          border-radius: 10px;
          opacity: 0.5;
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  :host {
    #services-container {
      padding: 0 100px;
    }
  }
}

@media (max-width: 1375px) {
  :host {
    #services-container {
      padding: 0 25px;
      #services-item-container.row {
        .service-item {
          .item-formatting {

          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  :host {
    #services-container {
      padding: 0 50px;
    }
  }
}

@media (max-width: 992px) {
  :host {
    #services-container {
      padding: 0 200px;
      #services-title {
        margin: 25px 0 0 0;
      }
      #services-item-container.row {
        .service-item {
          margin: 0 0 60px 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  :host {
    #services-container {
      padding: 0 25px;
    }
  }
}


