<div id="services-container">
  <div id="services-title" class="bold">Services</div>
  <div class="underline"></div>
  <div id="services-intro">What I can do for you</div>
  <div id="services-item-container">
    <div class="service-item" *ngFor="let serviceItem of serviceItems" addClassWhenInView>
      <div class="item-formatting" [ngStyle]="{backgroundImage: 'url(' + serviceItem.img + ')'}">
        <div class="item-info">
          <div class="service-item-title">{{serviceItem.title}}</div>
          <div class="service-item-description">{{serviceItem.description}}</div>
        </div>
      </div>
      <div class="overlay"></div>
    </div>
  </div>
</div>
