html,
body {
  height: 100%;
  width: 100%;
}
app-root {
  height: 100%;
  width: 100%;
}
:host {
  display: block;
  padding: 100px 0;
}
:host #services-container #services-title {
  display: block;
  font-size: 38px;
  text-align: center;
  margin: 25px 0 0 0;
  font-weight: bold;
  color: black;
}
:host #services-container .underline {
  margin-bottom: 25px;
}
:host #services-container #services-intro {
  display: block;
  font-size: 30px;
  padding: 15px 0 30px 0;
  font-style: italic;
  text-align: center;
}
:host #services-container #services-item-container {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  margin: auto;
}
:host #services-container #services-item-container .service-item {
  height: 475px;
  width: 330px;
  display: inline-block;
  margin: 0 15px;
  position: relative;
}
:host #services-container #services-item-container .service-item:hover .item-formatting .item-info {
  top: 0;
}
:host #services-container #services-item-container .service-item:hover .item-formatting .item-info .service-item-title {
  margin: 0 0 25px 0;
}
:host #services-container #services-item-container .service-item .item-formatting {
  background-size: cover;
  background-position: center center;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  height: 100%;
  color: white;
  width: 100%;
}
:host #services-container #services-item-container .service-item .item-formatting .item-info {
  position: relative;
  left: 0;
  right: 0;
  top: 89%;
  transition: 1s;
}
:host #services-container #services-item-container .service-item .item-formatting .item-info .service-item-title {
  font-size: 28px;
  margin: 10px 0 25px 0;
  font-weight: bold;
  position: relative;
  z-index: 2;
}
:host #services-container #services-item-container .service-item .item-formatting .item-info .service-item-description {
  font-size: 18px;
  margin: auto;
  position: relative;
  z-index: 2;
  line-height: 30px;
}
:host #services-container #services-item-container .service-item .overlay {
  position: absolute;
  background: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 10px;
  opacity: 0.55;
}
@media (max-width: 1080px) {
  :host #services-container {
    padding: 0 15px;
  }
  :host #services-container #services-item-container {
    display: block;
    justify-content: unset;
  }
  :host #services-container #services-item-container .service-item {
    display: block;
    width: 100%;
    margin: 0 0 60px 0;
  }
}
